.nft_item{
    /* width: 100%; */
    padding: 0;
    background: #2C2C2E;
    border-radius: 24px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 166px;
}
.nft_name{
    width: 96px;
    height: 26px;
    font-size: 16px;
    font-family: PingFang-SC-Medium, PingFang-SC;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 10px;
}
.nft_pic{
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
}
.hot_block{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 10px;
    height: 26px;
    width: 147px;
    background: #141414;
    border-radius: 13px;
    margin: auto;
}
.hot_img{
    margin-right: 4px;
    display: block;
    width: 100%;
}
.hot_label{
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #F0E0B7;
    line-height: 18px;
    margin-right: 4px;
}
.hot_time{
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #F0E0B7;
}
.adm-card-body{
    padding: 0;
}
.nft_info{
    width: 69px;
    height: 18px;
    border-radius: 2px;
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.nft_desc{
    width: 36px;
    height: 18px;
    font-size: 10px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    font-style: normal;
    background: #F0E0B7;
    border-radius: 2px 0px 0px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nft_nums{
    flex: 1;
    height: 18px;
    font-size: 10px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #F0E0B7;
    font-style: normal;
    background-color: #4B4B4D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nft_author{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-left: 16px;
    margin-bottom: 10px;
}
.nft_avatar{
    width: 13px;
    height: 13px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
}
.nft_authName{
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
  
}
.nft_price{
    font-size: 18px;
    font-family: DIN-Bold, DIN;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 13px;
}