.tabs{
    margin: 25px 0 25px 0;
    font-size: 18px;
    font-family: PingFang-SC-Medium, PingFang-SC;
    font-weight: 500;
    color: #999999;
}
.avtiveTab{
    margin: 25px 0 25px 0;
    font-size: 18px;
    font-family: PingFang-SC-Medium, PingFang-SC;
    font-weight: 500;
    color: #fff;
}