.nft_detail{
    background: url('../../assets/light.png') no-repeat;
    padding: 16px;
    background-size: contain;
}
.nft_pic{
    width: 226px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.nft_wutai{
    width: 281px;
    margin: auto;
}
.nft_bottom{
    margin: auto;
    width: 281px;
    height: 64px;
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.2) 0%, rgba(216, 216, 216, 0) 100%);
}
.nft_name{
    margin: 0;
    font-size: 20px;
    font-family: AlibabaPuHuiTiM;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 72px;
}
.nft_author{
    height: 64px;
    background: #191919;
    border-radius: 8px;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}
.nft_avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 12px;
}
.nft_profile{
    /* display: flex */
}
.author_name{
    width: 84px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
}
.nft_creator{
    width: 36px;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999;
    line-height: 17px;
}
.nft_Issuer{
    background: #191919;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
}
.nft_title{
    width: 72px;
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 25px;
}
.nft_img{
    display: block;
}